node_modules
dist/
build/
.DS_Store
.clasp*.json
*.tgz
.claspignore
.editorconfig
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
appsscript.json
jest.config.json
LICENSE
license-config.json
license-header.txt
package-lock.json
package.json
rollup.config.mjs
tsconfig.json
